.wrapper {
  display: flex;
  flex-direction: column;
}

.app-main {
  height: max-content;
  padding: 4rem 6rem;
  border: 1.5px solid #efefef;
  box-sizing: border-box;
  border-radius: 3px;
}

.header {
  display: inline;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.form {
  font-size: 2rem;
  width: 25rem;
  min-height: 10rem;
}

.signin {
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.question-field {
  margin-left: 1.85714em !important;
}

.question {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #5f6368;
}

.reset-link {
  margin-top: 1rem;
}

.help-text {
  color: rgba(32, 33, 36, 0.4);
  margin: 1rem 0;
  margin-left: 1.85714em !important;
}

.error {
  color: #eb5757;
  margin: 1rem 0;
  margin-left: 1.85714em !important;
}

.radio {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .app-main {
    padding: 4rem 2rem;
  }
}
