.wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
}

.left {
  height: 25rem;
  width: 35rem;
  background: #f9f9f9;
}

.form {
  width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid{
  width: 100%;
}

.blurshow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-radius: 0.28571429rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  position: absolute;
  right: 0px;
  color: rgba(34, 36, 38, 0.7);
}

.focusshow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-radius: 0.28571429rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  position: absolute;
  right: 0px;
  color: #2185d0;
}

.focusshow:hover {
  cursor: pointer;
}

.blurshow:hover {
  cursor: pointer;
}

.forgot {
  text-align: right;
}

.loginButtons {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.guestErrorContainer {
  margin-top: 10rem;
  justify-content: 'center';
  align-items: 'center'; 
}

.guestErrorMessage{
  font-size: 1.3rem;
  color: #808080;
}
