.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.content-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.app-main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
  max-width: 90%;
  margin: auto;
  padding-top: 4rem;
  justify-content: space-evenly;
}

.error {
  color: #eb5757;
  margin: 1rem 0;
}

.left {
  height: 25rem;
  width: 35rem;
  background: #f9f9f9;
}

.right {
  margin-top: 2rem;
  width: 20rem;
}

.blurshow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-radius: 0.28571429rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  position: absolute;
  right: 0px;
  color: rgba(34, 36, 38, 0.7);
}

.focusshow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-radius: 0.28571429rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  position: absolute;
  right: 0px;
  color: #2185d0;
}

.focusshow:hover {
  cursor: pointer;
}

.blurshow:hover {
  cursor: pointer;
}

.password {
  padding-right: 3.5rem !important;
}

.signin {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}

.forgot {
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .left {
    display: none;
  }
}
