.form {
  font-size: 2rem;
  width: 20rem;
  min-height: 10rem;
}

.signin {
  margin-top: 3rem !important;
}

.error {
  color: #eb5757;
  margin: 1rem 0;
}

.success {
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  color: #1a531b;
}

@media only screen and (max-width: 768px) {
  .form {
    margin: auto;
  }
}
